*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
.vscode/settings.json
docs
examples/cuda_test.jl

# Generated data and figures
examples/img/
examples/jld2_data/
examples/csv/
test/output/
examples/Manifest.toml
